%h1 ユーザー詳細
= link_to '設定', edit_user_path(@user), class: 'btn btn-primary'
%div
  = I18n.t('attributes.user.email')
  = @user.email
%div
  = I18n.t('attributes.user.name')
  = @user.name
%div
  = I18n.t('attributes.user.profile')
  = @user.profile
%div
  = I18n.t('attributes.user.blog_url')
  = @user.blog_url
