%h1 'ユーザー詳細'
= link_to '設定', edit_user_path(@user), class: 'btn btn-primary'
.container
  メールアドレス  
  = @user.email
.container 
  名前
  = @user.name
.container
  プロフィール
  = @user.profile
.container
  ブログURl
  = @user.blog_url
